@media screen and (max-width: 1200px)
{
    .header_container , .banner_container , .news_container
    {
        width: 90%;
    }

    .post
    {
        height: 120px;
    }

    .news_logo , .news_posts
    {
        width: 100%;
    }
}

@media screen and (max-width: 1000px)
{
    .image_banner
    {
        position: absolute;
        top: 75px;
        right: 30px;
    }

    .banner_container
    {
        justify-content: flex-start;
    }

    .banner_text
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 730px)
{
    .nav_element
    {
        display: none;
    }

    .navigation
    {
        width: 105px;
    }

    .container_left
    {
        width: 90%;
    }

    .banner_tagline
    {
        font-size: 48px;
        line-height: 52px
    }
}

@media screen and (max-width: 520px)
{
    .container_left
    {
        width: 100%;
    }

    .banner_tagline
    {
        font-size: 48px;
        line-height: 52px
    }
}

@media screen and (max-width: 430px)
{
    .post_content
    {
        width: calc(85%);
    }
}


@media screen and (max-width: 360px)
{
    .post
    {
        height: 150px;
    }

    .theme
    {
        min-height: 30px;
    }
}

