*
{
    box-sizing: border-box;
}

.grid_container
{
    border: 1px solid gray;
    width: fit-content;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat( 5 , 100px );
    grid-template-rows: repeat( 4 , 200px );
    grid-template-areas: 
                " . one one one . "
                " . two three three . "
                " . two four five . "
                " . six four five . ";
}

.grid_container > *
{
    border: 1px dashed black;
    display: grid;
    align-items: center;   /* stretch , start , end , center */
    justify-items: center; /* stretch , start , end , center */
}

.one{ grid-area: one; }

.two{ grid-area: two; }

.three{ grid-area: three; }

.four{ grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

